### **ПРАКТИЧЕСКОЕ ЗАДАНИЕ**

Осуществим предобработку данных с Твиттера, чтобы очищенные данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [101]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', 800)

In [582]:
train_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NLP/train_tweets.csv')
train_df.head()

   id  label                                                                                                                       tweet
0   1      0                       @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2      0  @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3      0                                                                                                         bihday your majesty
3   4      0                                      #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5      0                                                                                      factsguide: society now    #motivation

In [583]:
test_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NLP/test_tweets.csv')
test_df.head()

      id                                                                                                                                           tweet
0  31963                                                      #studiolife #aislife #requires #passion #dedication #willpower   to find #newmaterialsâ¦
1  31964                                            @user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why
2  31965                                                                         safe ways to heal your #acne!!    #altwaystoheal #healthy   #healing!!
3  31966  is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð   #harrypotter #pottermore #favorite
4  31967                                                     3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦

In [584]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                                                                                                       tweet
0   1    0.0                       @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2    0.0  @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3    0.0                                                                                                         bihday your majesty
3   4    0.0                                      #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5    0.0                                                                                      factsguide: society now    #motivation

In [585]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

**1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию:**
 - **для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)**
 - **для для замены @user на пробел, необходимо использовать re.sub()**

In [586]:
df_length = combine_df.tweet.shape[0]

In [587]:
def clean_user(data):
  try:
    find_user = re.findall('@[\w]*', data)
    return re.sub(find_user[0], ' ', data)
  except:
    return data

In [588]:
combine_df.tweet = combine_df.tweet[:df_length].apply(clean_user)
combine_df.head()

   id  label                                                                                                               tweet
0   1    0.0                     when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2    0.0      thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3    0.0                                                                                                 bihday your majesty
3   4    0.0                              #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5    0.0                                                                              factsguide: society now    #motivation

**2. Изменим регистр твитов на нижний с помощью .lower()**

In [589]:
def get_lower(data):
  return data.lower()

In [590]:
combine_df.tweet = combine_df.tweet[:df_length].apply(get_lower)
combine_df.head()

   id  label                                                                                                               tweet
0   1    0.0                     when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2    0.0      thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3    0.0                                                                                                 bihday your majesty
3   4    0.0                              #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5    0.0                                                                              factsguide: society now    #motivation

**3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).**

In [591]:
def replace_text(data, dict_):
    for word in data.split():        
      if word in dict_.keys():        
        data = re.sub(re.escape(word), dict_[word], data)
        if data.count(word) > 1:
          break
    return data

In [592]:
combine_df.tweet = combine_df.tweet[:df_length].apply(replace_text, dict_=apostrophe_dict)
combine_df.head()

   id  label                                                                                                                 tweet
0   1    0.0                       when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2    0.0      thanks for #lyft credit i cannot use cause they do not offer wheelchair vans in pdx.    #disapointed #getthanked
2   3    0.0                                                                                                   bihday your majesty
3   4    0.0                                #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5    0.0                                                                                factsguide: society now    #motivation

**4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.**

In [593]:
combine_df.tweet = combine_df.tweet[:df_length].apply(replace_text, dict_=short_word_dict)
combine_df.head()

   id  label                                                                                                                 tweet
0   1    0.0                       when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2    0.0      thanks for #lyft credit i cannot use cause they do not offer wheelchair vans in pdx.    #disapointed #getthanked
2   3    0.0                                                                                                   bihday your majesty
3   4    0.0                          #model   i love you take with you all the time in yourð±!!! ðððð
ð¦ð¦ð¦
4   5    0.0                                                                                factsguide: society now    #motivation

**5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.**

In [594]:
combine_df.tweet = combine_df.tweet[:df_length].apply(replace_text, dict_=emoticon_dict)
combine_df[63:64]

    id  label                                 tweet
63  64    0.0  you have really hu my feelings sad

**6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'**

In [595]:
def delete_punctuation(data):
  return re.sub('[^\w\s]', ' ', data)

In [596]:
combine_df.tweet = combine_df.tweet[:df_length].apply(delete_punctuation)
combine_df[10:15]

    id  label                                                                                                                                  tweet
10  11    0.0                         â    ireland consumer price index  mom  climbed from previous 0 2  to 0 5  in may    blog  silver  gold  forex
11  12    0.0  we are so selfish   orlando  standwithorlando  pulseshooting  orlandoshooting  biggerproblems  selfish  heabreaking    values  love
12  13    0.0                                                                                    i get to see my daddy today      80days  gettingfed
13  14    1.0                                                                    cnn calls  michigan middle school  build the wall  chant     tcot
14  15    1.0                                  no comment   in  australia    opkillingbay  seashepherd  helpcovedolphins  thecove   helpcovedolphins

**7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'**

In [597]:
def delete_special_symbols(data):
  return re.sub('[^a-zA-Z0-9]', ' ', data)

In [598]:
combine_df.tweet = combine_df.tweet[:df_length].apply(delete_special_symbols)
combine_df[10:15]

    id  label                                                                                                                                  tweet
10  11    0.0                              ireland consumer price index  mom  climbed from previous 0 2  to 0 5  in may    blog  silver  gold  forex
11  12    0.0  we are so selfish   orlando  standwithorlando  pulseshooting  orlandoshooting  biggerproblems  selfish  heabreaking    values  love
12  13    0.0                                                                                    i get to see my daddy today      80days  gettingfed
13  14    1.0                                                                    cnn calls  michigan middle school  build the wall  chant     tcot
14  15    1.0                                  no comment   in  australia    opkillingbay  seashepherd  helpcovedolphins  thecove   helpcovedolphins

**8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'**

In [599]:
def delete_numbers(data):
  return re.sub('[^a-zA-Z]', ' ', data)

In [600]:
combine_df.tweet = combine_df.tweet[:df_length].apply(delete_numbers)
combine_df[10:15]

    id  label                                                                                                                                  tweet
10  11    0.0                              ireland consumer price index  mom  climbed from previous      to      in may    blog  silver  gold  forex
11  12    0.0  we are so selfish   orlando  standwithorlando  pulseshooting  orlandoshooting  biggerproblems  selfish  heabreaking    values  love
12  13    0.0                                                                                    i get to see my daddy today        days  gettingfed
13  14    1.0                                                                    cnn calls  michigan middle school  build the wall  chant     tcot
14  15    1.0                                  no comment   in  australia    opkillingbay  seashepherd  helpcovedolphins  thecove   helpcovedolphins

**9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])**

In [601]:
def delete_short_words(data):
  return ' '.join([word for word in data.split() if len(word) > 1])

In [602]:
combine_df.tweet = combine_df.tweet[:df_length].apply(delete_short_words)
combine_df[10:15]

    id  label                                                                                                                    tweet
10  11    0.0                                  ireland consumer price index mom climbed from previous to in may blog silver gold forex
11  12    0.0  we are so selfish orlando standwithorlando pulseshooting orlandoshooting biggerproblems selfish heabreaking values love
12  13    0.0                                                                                get to see my daddy today days gettingfed
13  14    1.0                                                               cnn calls michigan middle school build the wall chant tcot
14  15    1.0                               no comment in australia opkillingbay seashepherd helpcovedolphins thecove helpcovedolphins

**10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.**

In [603]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [604]:
def get_tokens(data):
  return nltk.tokenize.word_tokenize(data)

In [605]:
combine_df['tweet_token'] = combine_df.tweet[:df_length].apply(get_tokens)
combine_df[10:15]

    id  label                                                                                                                    tweet                                                                                                                            tweet_token
10  11    0.0                                  ireland consumer price index mom climbed from previous to in may blog silver gold forex                                [ireland, consumer, price, index, mom, climbed, from, previous, to, in, may, blog, silver, gold, forex]
11  12    0.0  we are so selfish orlando standwithorlando pulseshooting orlandoshooting biggerproblems selfish heabreaking values love  [we, are, so, selfish, orlando, standwithorlando, pulseshooting, orlandoshooting, biggerproblems, selfish, heabreaking, values, love]
12  13    0.0                                                                                get to see my daddy today days gettingfed                                                                                     [get, to, see, my, daddy, today, days, gettingfed]
13  14    1.0                                                               cnn calls michigan middle school build the wall chant tcot                                                                  [cnn, calls, michigan, middle, school, build, the, wall, chant, tcot]
14  15    1.0                               no comment in australia opkillingbay seashepherd helpcovedolphins thecove helpcovedolphins                                   [no, comment, in, australia, opkillingbay, seashepherd, helpcovedolphins, thecove, helpcovedolphins]

**11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.**

In [606]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [607]:
def delete_stop_words(data):
  stop_words = set(stopwords.words('english'))
  return [word for word in data if not word in stop_words]

In [608]:
combine_df['tweet_token_filtered'] = combine_df.tweet_token[:df_length].apply(delete_stop_words)
combine_df[10:15]

    id  label                                                                                                                    tweet                                                                                                                            tweet_token                                                                                                      tweet_token_filtered
10  11    0.0                                  ireland consumer price index mom climbed from previous to in may blog silver gold forex                                [ireland, consumer, price, index, mom, climbed, from, previous, to, in, may, blog, silver, gold, forex]                                 [ireland, consumer, price, index, mom, climbed, previous, may, blog, silver, gold, forex]
11  12    0.0  we are so selfish orlando standwithorlando pulseshooting orlandoshooting biggerproblems selfish heabreaking values love  [we, are, so, selfish, orlando, standwithorlando, pulseshooting, orlandoshooting, biggerproblems, selfish, heabreaking, values, love]  [selfish, orlando, standwithorlando, pulseshooting, orlandoshooting, biggerproblems, selfish, heabreaking, values, love]
12  13    0.0                                                                                get to see my daddy today days gettingfed                                                                                     [get, to, see, my, daddy, today, days, gettingfed]                                                                                [get, see, daddy, today, days, gettingfed]
13  14    1.0                                                               cnn calls michigan middle school build the wall chant tcot                                                                  [cnn, calls, michigan, middle, school, build, the, wall, chant, tcot]                                                          [cnn, calls, michigan, middle, school, build, wall, chant, tcot]
14  15    1.0                               no comment in australia opkillingbay seashepherd helpcovedolphins thecove helpcovedolphins                                   [no, comment, in, australia, opkillingbay, seashepherd, helpcovedolphins, thecove, helpcovedolphins]                              [comment, australia, opkillingbay, seashepherd, helpcovedolphins, thecove, helpcovedolphins]

**12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.**

In [609]:
from nltk.stem import PorterStemmer

In [610]:
def stemming_words(data):
  stemmer = PorterStemmer()
  return [stemmer.stem(word) for word in data]

In [576]:
combine_df['tweet_stemmed'] = combine_df.tweet_token_filtered[:df_length].apply(stemming_words)
combine_df[10:15]

    id  label                                                                                                                    tweet                                                                                                                            tweet_token                                                                                                      tweet_token_filtered                                                                                                 tweet_stemmed
10  11    0.0                                  ireland consumer price index mom climbed from previous to in may blog silver gold forex                                [ireland, consumer, price, index, mom, climbed, from, previous, to, in, may, blog, silver, gold, forex]                                 [ireland, consumer, price, index, mom, climbed, previous, may, blog, silver, gold, forex]                          [ireland, consum, price, index, mom, climb, previou, may, blog, silver, gold, forex]
11  12    0.0  we are so selfish orlando standwithorlando pulseshooting orlandoshooting biggerproblems selfish heabreaking values love  [we, are, so, selfish, orlando, standwithorlando, pulseshooting, orlandoshooting, biggerproblems, selfish, heabreaking, values, love]  [selfish, orlando, standwithorlando, pulseshooting, orlandoshooting, biggerproblems, selfish, heabreaking, values, love]  [selfish, orlando, standwithorlando, pulseshoot, orlandoshoot, biggerproblem, selfish, heabreak, valu, love]
12  13    0.0                                                                                get to see my daddy today days gettingfed                                                                                     [get, to, see, my, daddy, today, days, gettingfed]                                                                                [get, see, daddy, today, days, gettingfed]                                                                       [get, see, daddi, today, day, gettingf]
13  14    1.0                                                               cnn calls michigan middle school build the wall chant tcot                                                                  [cnn, calls, michigan, middle, school, build, the, wall, chant, tcot]                                                          [cnn, calls, michigan, middle, school, build, wall, chant, tcot]                                                [cnn, call, michigan, middl, school, build, wall, chant, tcot]
14  15    1.0                               no comment in australia opkillingbay seashepherd helpcovedolphins thecove helpcovedolphins                                   [no, comment, in, australia, opkillingbay, seashepherd, helpcovedolphins, thecove, helpcovedolphins]                              [comment, australia, opkillingbay, seashepherd, helpcovedolphins, thecove, helpcovedolphins]                     [comment, australia, opkillingbay, seashepherd, helpcovedolphin, thecov, helpcovedolphin]

**13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.**

In [577]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [578]:
def lemmating_words(data):
  lemmatizer = WordNetLemmatizer()
  return [lemmatizer.lemmatize(word) for word in data]

In [579]:
combine_df['tweet_lemmatized'] = combine_df.tweet_stemmed[:df_length].apply(lemmating_words)
combine_df[25:30]

    id  label                                                                                                                          tweet                                                                                                                                           tweet_token                                                                                        tweet_token_filtered                                                                                       tweet_stemmed                                                                                    tweet_lemmatized
25  26    0.0                                                                  beautiful sign by vendor for upsideofflorida shopalyssas love                                                                                [beautiful, sign, by, vendor, for, upsideofflorida, shopalyssas, love]                                               [beautiful, sign, vendor, upsideofflorida, shopalyssas, love]                                           [beauti, sign, vendor, upsideofflorida, shopalyssa, love]                                           [beauti, sign, vendor, upsideofflorida, shopalyssa, love]
26  27    0.0                                               all smiles when media is pressconference in antalya turkey sunday throwback love                                                         [all, smiles, when, media, is, pressconference, in, antalya, turkey, sunday, throwback, love]                                  [smiles, media, pressconference, antalya, turkey, sunday, throwback, love]                               [smile, media, pressconfer, antalya, turkey, sunday, throwback, love]                              [smile, medium, pressconfer, antalya, turkey, sunday, throwback, love]
27  28    0.0                                                              we had great panel on the mediatization of the public service ica                                                                        [we, had, great, panel, on, the, mediatization, of, the, public, service, ica]                                                         [great, panel, mediatization, public, service, ica]                                                         [great, panel, mediat, public, servic, ica]                                                         [great, panel, mediat, public, servic, ica]
28  29    0.0                                                                                                               happy father day                                                                                                                                  [happy, father, day]                                                                                        [happy, father, day]                                                                                [happi, father, day]                                                                                [happi, father, day]
29  30    0.0  people went to nightclub to have good night and man actions means those people are lost to their families forever rip orlando  [people, went, to, nightclub, to, have, good, night, and, man, actions, means, those, people, are, lost, to, their, families, forever, rip, orlando]  [people, went, nightclub, good, night, man, actions, means, people, lost, families, forever, rip, orlando]  [peopl, went, nightclub, good, night, man, action, mean, peopl, lost, famili, forev, rip, orlando]  [peopl, went, nightclub, good, night, man, action, mean, peopl, lost, famili, forev, rip, orlando]

**14. Сохраним результат предобработки в pickle-файл.**

In [580]:
combine_df.to_pickle('preprocessed_tweets.pkl')

In [581]:
df_preprocessed_tweets = pd.read_pickle('preprocessed_tweets.pkl')
df_preprocessed_tweets.head()

   id  label                                                                                                    tweet                                                                                                                  tweet_token                                                                       tweet_token_filtered                                                                       tweet_stemmed                                                                    tweet_lemmatized
0   1    0.0                when father is dysfunctional and is so selfish he drags his kids into his dysfunction run                   [when, father, is, dysfunctional, and, is, so, selfish, he, drags, his, kids, into, his, dysfunction, run]                            [father, dysfunctional, selfish, drags, kids, dysfunction, run]                               [father, dysfunct, selfish, drag, kid, dysfunct, run]                               [father, dysfunct, selfish, drag, kid, dysfunct, run]
1   2    0.0  thanks for lyft credit cannot use cause they do not offer wheelchair vans in pdx disapointed getthanked  [thanks, for, lyft, credit, can, not, use, cause, they, do, not, offer, wheelchair, vans, in, pdx, disapointed, getthanked]  [thanks, lyft, credit, use, cause, offer, wheelchair, vans, pdx, disapointed, getthanked]  [thank, lyft, credit, use, caus, offer, wheelchair, van, pdx, disapoint, getthank]  [thank, lyft, credit, use, caus, offer, wheelchair, van, pdx, disapoint, getthank]
2   3    0.0                                                                                      bihday your majesty                                                                                                      [bihday, your, majesty]                                                                          [bihday, majesty]                                                                   [bihday, majesti]                                                                   [bihday, majesti]
3   4    0.0                                                        model love you take with you all the time in your                                                                [model, love, you, take, with, you, all, the, time, in, your]                                                                  [model, love, take, time]                                                           [model, love, take, time]                                                           [model, love, take, time]
4   5    0.0                                                                        factsguide society now motivation                                                                                       [factsguide, society, now, motivation]                                                          [factsguide, society, motivation]                                                         [factsguid, societi, motiv]                                                         [factsguid, societi, motiv]